@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Main Body Structure */

body {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    margin: 0;
}

.header .width,
.info .width,
.quote .width,
.action .width {
    min-height: 350px;
}

.navbar .width,
.footer .width {
    min-height: 70px;
}

.width {
    width: 60%;
    margin: 0 auto;
}

/* Navbar Structure */

.navbar .width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .width ul,
.navbar .width a {
    display: flex;
    text-decoration: none;
    gap: 1.5em;
}

.navbar .width li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Navbar Styling */

.navbar {
    background: #1F2937;
}

.navbar .width .logo {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

.navbar .width a {
    font-size: 18px;
    font-weight: lighter;
    color: #E5E7EB;
}

/* Header Structure */

.header .width {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    gap: 10em;
}

.header .width .content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header .width .place-holder {
    flex: 1;
}

.header .width button {
    align-self: flex-start;
}

/* Header Styling */

.header {
    background: #1F2937;
}

.header .width .content h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.header .width .content p {
    font-size: 18px;
    font-weight: lighter;
    color: #E5E7EB;
}

.header .width .content button {
    padding: 8px 35px;
    background: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border: 0;
}

.header .width .place-holder {
    min-width: 10px;
    min-height: 175px;
    background: rgb(117, 110, 110);
    border: 0;
    border-radius: 8px;
}

/* Info Section Structure */

.info .width {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    gap: 45px;
}

.info .width .container {
    display: flex;
}

.info .width .container .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.content .place-holder {
    width: 75px;
    height: 75px;
}

/* Info Section Styling */

.info .width h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 0;
}

.content .place-holder {
    width: 175px;
    height: 175px;
    border: 3px solid #3882F6;
    border-radius: 8px;
    margin: 0 30px;
}

.info .width .container .content p {
    font-size: 18px;
    font-weight: lighter;
    color: #1F2937;
    text-align: center;
    margin: 10px;
    width: 180.33px;
}

/* Quote Section Structure */

.quote .width {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote .width .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.quote .width .container .text {
    flex-wrap: wrap;
}

.quote .width .container .author {
    align-self: flex-end;
}

/* Quote Section Styling */

.quote {
    background: #e5E7EB;
}

.quote .width .container .text {
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    text-align: center;
}

.quote .width .container .author {
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
}

/* Action Section Structure */

.action .width {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action .width .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
}

.action .width .container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container button {
    padding: 8px 35px;
    margin-left: auto;
}

/* Action Section Styling */

.action .width .container {
    background: #3882F6;
    border: 0;
    border-radius: 8px;
    padding: 75px 200px;
}

.action .width .container .content div {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

.action .width .container .content p {
    font-size: 18px;
    font-weight: lighter;
    color: #E5E7EB;
    margin: 0;
}

.action .width .container button {
    background: #3882F6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
}

/* Footer Structure */

.footer .width {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

/* Footer Styling */

.footer {
    background: #1F2937;
}

.footer .width  div {
    font-size: 18px;
    font-weight: lighter;
    color: #E5E7EB;
}