@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Header and Navbar styling */

.hero,
.footer {
    background: #1F2937;
}

nav .nav-links {
    display: flex;
    color: #E5E7EB;
    gap: 1em;
    font-weight: lighter;
}

nav .nav-logo {
    color: #F9FAF8;
    font-weight: bold;
    margin-right: auto;
}

ul,
li {
    text-decoration: none;
    list-style: none;
}

.hero-content {
    display: flex;
    align-items: space-between;
}

.place-holder {
    margin-left: auto;
    background: lightgray;
    height: 100px;
    width: 300px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-text p {
    font-size: 18px;
    font-weight: lighter;
    color: #E5E7EB;
}

.hero-content button,
 .final-box {
    background-color: #3882F6;

}

.hero-content button {
    border: 0;
    color: #E5E7EB;
    padding: 5px 24px;
    border-radius: 8px;
}

/* Information Section styling */

section .section-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

section .section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

section .box {
    flex: 1;
    height: 100px;
    width: 100px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}

/* Quote Section styling */

.quote {
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

.quote-text .text {
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
}

.quote-text .quoted {
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
}

/* Final Section Styling */

.final-box {
    display: flex;
}

.final-content {
    display: flex;
    flex-direction: column;
}

.final-content .final-header {
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8
}

.final-content .final-subtext {
    font-size: 12px;
    font-weight: lighter;
    color: #E5E7EB;
}

.final-button button {
    border: 1px solid #F9FAF8;
    padding: 5px 24px;
    background: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
}
