@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Main Body Structure */

body {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: auto;
}

/* Navbar Structure */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul,
.navbar a {
    display: flex;
    text-decoration: none;
    gap: 1.5em;
}

.navbar li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Navbar Styling */

.navbar {
    background: #1F2937;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

.navbar a {
    font-size: 18px;
    font-weight: lighter;
    color: #E5E7EB;
}

/* Header Structure */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    gap: 10em;
}

.header .content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header .place-holder {
    flex: 1;
}

.header button {
    align-self: flex-start;
}

/* Header Styling */

.header {
    background: #1F2937;
}

.header .content h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.header .content p {
    font-size: 18px;
    font-weight: lighter;
    color: #E5E7EB;
}

.header .content button {
    padding: 5px 24px;
    background: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border: 0;
}

.header .place-holder {
    min-width: 10px;
    min-height: 175px;
    background: lightgray;
    border: 0;
    border-radius: 8px;
}

/* Info Section Structure */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    gap: 100px;
}

.info .container {
    display: flex;
}

.container .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.content .place-holder {
    width: 75px;
    height: 75px;
}

/* Quote Section Structure */

.quote {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.quote .container .text {
    flex-wrap: wrap;
}

.quote .container .author {
    align-self: flex-end;
}

/* Action Section Structure */

.action {
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 35px;
    width: 60%;
}

.action .container .content {
    display: flex;
    flex-direction: column;
}

.container button {
    padding: 5px 24px;
    margin-left: auto;
}

/* Footer Structure */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}